<form action="/" method="POST">
    <input type="text" name="username" id="username" placeholder="username"><br>
    <input type="email" name="email" id="email" placeholder="email"><br>
    <input type="text" name="phone_number" id="phone_number" placeholder="phone_number"><br>
    <input type="password" name="password" id="password" placeholder="password"><br>
    <button type="submit">Sign Up</button>
</form>
